@media screen and (min-width: 480px) {
  body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }

  .container {
    display: grid;
    grid-template-columns: 45% 45%;
  }

  .menu-card {
    grid-column: 1 / span 2;

    .card-report {
      gap: 3rem;
    }
  }

  .regular-card {
    .property-card {
      .row-2 {
        flex-direction: column;
        align-items: flex-start;

        .hours {
          font-size: 3rem;
        }
      }
    }
  }
}
